
/* flex布局 */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}